<p>{{title}}</p>
<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" name="search" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 12px" placeholder="Sils Search Filter" [(ngModel)]="filter">
          </div> 
    </div>
    <!--<button type="button" (click)="goToCreateOrder()" class="btn btn-info btn-sm">Create Customer</button>-->
</form>
<br>
<div class="row">
    <div class="container-fluid">
        <table class="table table-bordered table-hover table-sm">
            <thead style="font-size: 12px">
                <tr>
                    <th>ID</th>
                    <th>Xref</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Notes</th>
                    <th>Date</th>
                    <th>Updates</th>
                    
                </tr>
            </thead>
            <tbody style="font-size: 12px">
              
                <tr *ngFor="let sil of sils | filter:filter | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
                    
                    <td>{{sil.id}}</td>
                    <!--<td><a href="/assets/cross-ref-diagram/performance_diagram_FA.jpg">x-referecnce</a></td>{{sil.imgUrl}}-->
                
                    <td><a routerLink="/sils"><img src="{{ sil.imageUrl }}" alt="Logo" style="margin-left:0px; width:100px"></a></td>
                    <td>{{sil.name}}</td>
                    <td>{{sil.description}}</td>
                    <td>{{sil.notes}}</td>
                    <td>{{sil.date}}</td>
                    <td>{{sil.update}}</td>
                    
                    <!--<a routerLink="/sils"><img src="{{ product.imageUrl }}" alt="Logo" style="margin-left:100px; width:200px"></a>-->
                </tr>
            </tbody>
        </table>
        <small><pagination-controls (pageChange)="p = $event"></pagination-controls></small>
    </div>
</div>


<!--<table class="table bg-transparent">
    <thead style="font-size: 12px">
        <tr>
            <th>Full Name</th>
            <th>Address Line 1</th>
            <th>Address Line 2</th>
            <th>CustomerId</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Discount?</th>
        </tr>
    </thead>
    <tbody style="font-size: 12px">
        <tr *ngFor="let customer of customers | filter:filter | paginate: { itemsPerPage: 1, currentPage: p }; let i = index">
            <td><a [routerLink]="['/customers', customer.id]">{{customer.fullName}}</a></td>
            <td>{{customer.address1}}</td>
            <td>{{customer.address2}}</td>
            <td>{{customer.customer.id}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.state}}</td>
            <td>{{customer.zip}}</td>
            <td>{{customer.getsDiscount ? 'Yes':'No'}}</td>
        </tr>
    </tbody>
</table>
<small><pagination-controls (pageChange)="p = $event"></pagination-controls></small>-->





















<!--<div class="row">
    <div class="container-fluid">
       <strong><i>- {{title}} -</i></strong><br>
        <sils-table class="table table-hover table-sm table-bordered" [sils]="sils"></sils-table>
    </div>
</div>-->

