<div class="container">
    <div class="col-12">
        
    </div>
    
</div>
<div class="row">
    <div class="col-sm-6">
        <label><a href="#">Saito FG-73R5</a></label>
        <!--<label>Saito FG-73R5 73cc 5-Cylinder 4-Stroke Gas Radial Engine</label>
        <ul>
          <li>Benchmark Prop: 22x10", 23x10"</li>  
          <li>Bore: 1.14" (29.0mm)</li>
          <li>Crankshaft Threads: M10x1.25</li>
          <li>Cylinders: Five</li>
          <li>Displacement: 4.4 cu in (72.7 cc)</li>
          <li>Engine (Only) Weight: 13.4oz (380g)</li>
          <li>Length: 7.2" (182mm) mounting bracket to drive washer</li>
        </ul>--></div>
    <div class="col-sm-6">
        <!--<ul>
            <li>Oil Type & Content: 2-stroke</li>
            <li>Outer Diameter: 9.0" (230mm)</li>
            <li>Prop Range: 22x10 - 23x10</li>
            <li>RPM Range: 1,200 - 7,000</li>
            <li>Recommended Fuel: Gasoline</li>
            <li>Starter Type: Bump</li>
            <li>Stroke: 0.87" (22.0mm)</li>
            <li>Total Weight: 13.4oz (380g)</li>
            <li>Type: Gasoline powered 5-cylinder Radial</li>
        </ul>-->
    </div>
  </div>



