<div class="container"> 
    <p class="text-center" style="color:rgb(52, 119, 187)">Welcome to the APOS Customer Center Service Portal.<br>
    Please login to access the engineering publication site. </p> 
    <div class="row">  
      <div class="col-md-6 mx-auto">  
        <div class="card-group">  
          <div class="card p-3" style="background: transparent; box-shadow: 0 10px 40px 0 rgb(122, 140, 165)">  
            <div class="card-body" style="color:rgb(25, 82, 139)">
                
              <form name="form" (ngSubmit)="login()" #f="ngForm">   
                <h5 style="text-align:center"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</h5>  
                 
                <div class="input-group mb-3">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><i class="fa fa-user"></i></span>  
                  </div>  
                  <input type="text" name="username" [(ngModel)]="username" class="form-control sty1" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 12px" placeholder="Email" required>  
                </div>  
                <div class="input-group mb-4">  
                  <div class="input-group-prepend">  
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>  
                  </div>  
                  <input type="password" name="password" [(ngModel)]="password" class="form-control" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 12px" placeholder="Password">  
                </div>  
                <div>  
                    <p style="color:#E92626;font-size:20px;font-weight:normal" class="success" text-align="left">  
                      {{errorMessage}}  
                    </p>  
                </div>  
                <div class="row">  
                  <div class="col-12">  
                    <!--<button type="submit" class="btn btn-primary px-2">Login</button>-->
                    <button (click)=checkLogin() class="btn btn-success" style="box-shadow: 0px 8px 16px 0px rgba(14, 13, 13, 0.342); font-size: 12px">Login</button>&nbsp;&nbsp;
                    
                    <a routerLink="/register" class="btn btn-link px-0">Create New Account &nbsp; | &nbsp;</a>
                    <a routerLink="/register" class="btn btn-link px-0">Forgot Password &nbsp; | &nbsp;</a>
                    <a routerLink="/register" class="btn btn-link px-0">Help</a> 
                  </div>
                </div>  
              </form> 
            </div>  
          </div>  
        </div>  
      </div>  
    </div> 
    <br><br>
    
    <label style="font-size: 10px">
      How APOS Works:<br>
      The APOS API is available for shop-management systems <!--(and automotive-app developers)--> to integrate. Users without a shop-management system can still access all the benefits of APOS online at www.apos.com
    
      Create a free APOS account for your shop <a routerLink="/register">here</a>, if it doesn’t already have one.
      If you already have a APOS account, retrieve your access code from APOS <a href="/">here</a>. If you need additional instruction on how to retrieve your API Key, click <a href="/">here</a>.
      Enter your APOS username, along with your access code, into your shop-management system in your system settings (See your system provider for specific instructions on where to enter this information.). The list of currently supported systems is available here, and it continues to grow.
      Once the APOS username and access code has been entered into your shop-management system, it will have integrated directly into your partner system.
      When building a repair order within your management system, and you choose to add parts, APOS opens and immediately displays the parts you need to complete the work order, along with available inventory from your preferred local vendors. Once you select the parts, they will automatically import back into your repair order.
      <br><br>
      APOS’s API offers:<br>
      Search, keyword, part number or aircraft model. Easy browsing of local parts vendors in a single search,
      Geo-locating of hard-to-find parts, Order confirmation, tracking and shipment notifications with
      High-res images and videos to include Mobile-friendly user experience.
  </label>
  </div>