/* You can add global styles to this file, and also import other style files */
.margin-top-6 {
  margin-top: 6px;
}

/*#mddog {
  background-color: red($color: #000000);
}

$assetPath : "/assets/images";

$asset-images-path : "assets/images/imagePathHere";
background-image: image-url("#{$asset-images-path}/imageNameWithExtension.png");*/