<strong><i>- Customer Prophile - </i></strong>
<br><br>
<div class="row">
    <!---&nbsp;&nbsp;&nbsp;<h5>{{title}}: <span style="margin-left: 46px">{{customer.fullName}}</span></h5>-->
    <p>{{customer.fullName}}</p>
</div><br>
<div class="row">
    <div class="col-md-2">
        <strong style="font-size: 12px;">Address:</strong>
    </div>
    <div class="col-md-5 end">
        <span style="margin-left: 40px; font-size: 12px;">{{address}}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <strong style="font-size: 12px;">Gets Discount:</strong>
    </div>
    <div class="col-md-3 end">
        <span style="margin-left: 42px; font-size: 12px;">{{customer.getsDiscount ? 'Yes' : 'No'}}</span>   
    </div>
</div>
<discount *ngIf="customer.getsDiscount" 
    [customerDiscount]="customer.discount"
    (update)="updateDiscount($event)">
</discount>
<br>
    
<div class="row" *ngIf="orders && orders.length > 0">
    <div class="col-md-12">
        <p>Orders</p>
        <table class="table table-hover table-bordered table-sm">
            <thead style="font-size: 12px">
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Total Items</th>
                    <th>Total Sale</th>
                </tr>
            </thead>
            <tbody style="font-size: 12px;">
                <tr *ngFor="let order of orders | filter:filter | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
                    <td>
                        <a href="#/orders/{{order.id}}">{{order.id}}</a>
                    </td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.totalItems}}</td>
                    <td>{{order.totalSale | currency:'USD':'symbol'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<small><pagination-controls (pageChange)="p = $event"></pagination-controls></small>


